.product-index a {
  text-decoration: none;
}
.product-index-items {
  display: flex;
}
.product-index-item a{
  display: inline-grid;
}
.main {
  padding: 40px;
}

.product-index-item {
  padding:15px;
}
