.product-index a {
  text-decoration: none;
}
.product-index-items li {
  float: left;
  width: 170px;
  height: 200px;
  margin: 3px;
}
.product-index-items li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-img {
padding: 30px 0px 30px 0px;
width: 60vw;
}
.item-title {
  color: grey;
}
.item-price{
  color: black;
  font-weight: bolder;
}
.index-img img {
  width: 100%;
}
.slogan {
  font-size: 5vh;
  font-weight: bolder;
}
.category-bar {
  padding: 30px 10px 30px;
    border-bottom: 1px solid #f4f4f5;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.category-bar a{
  text-decoration: none;
  color: black;
}
.product-index-item a{
  display: inline-grid;
}
.product-index-item a img{
  border: 1px solid #f4f4f5;
  padding: 10px;
}
.main {
  padding: 40px;
}

.product-index-item {
  width: min-content;
  padding:15px;
}
.item-des {
  display: flex;
  flex-direction: column;
}

.item-des strong {
  padding-top: 10px;
}
