.product-form-box > div{
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
}

.instruction-detail {
  display: flex;
  justify-content: space-between;
}
.upload-photo-section {
  display: flex;
}
.uploadedFile {
  height: 200px;
  width: auto;
}
.plz-login-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: auto;
  top: 30px;
}

.plz-login-img strong{
  font-size: 45px;
}

.plz-login-img img {
  width: 100%;
  margin-bottom: 10vh;
  margin-top: 10vh;
}
.add-photo {
  text-align: center;
  vertical-align: middle;
}

.submit-button {
  display: flex;
  justify-content: space-between;
  font-size: 2vh;
  align-items: center;
  order: 30;

  .cancel-link {
    text-decoration: none;
    border: 1px solid grey;
    padding: 6px;
    border-radius: 5px;
  }
  .product-submit {
    color: white;
    background-color: orange;
    font-size: 2vh;
    border-radius: 5px;
    padding: 6px;
    margin-right: 1vw;
  }
}
