.auto-enter {
   opacity: 0.01;
   transform: translateY(500%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }
 .auto {
   width:35vw;
 }
 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(500%);
   transition: opacity 500ms, transform 500ms;
 }

.result-list {
  top: 56px;
  left: 93px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 0 4px 4px 4px;
  padding: 10px;
  box-shadow: 0px 0px 6px 1px #00000038;
  // position: absolute;
  // top: 80px;
  // left: 110px;
  // // top: 14%;
  // // left: 27%;
  // // transform: translate(-50%, -50%);
  // background-color: white;
}
.search-result-link {
  text-decoration: none;
}
.search-result-li{
  padding-bottom: 7px;
  color: black
}
.search-result {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
}
