@import "../base/globals";
header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $light-grey;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
}
.loogedIn-user {
  display: flex;
  align-items: center;
}
.sell-link {
  font-size: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: orange;
}
header div button {
  color: orange;
  background-color: white;
  border-radius: 5px;
  border: none;
  font-size: 2vh;
}
.left-nav {
  display: flex;
  align-items: center;
}
.session-form {
  padding: 30px;
}
.header-link {
  text-decoration: none;
}
.header-link h1 {
  color: orange;
  font-size: 5vh;
  font-family: serif;
  font-weight: unset;
}
.header-group {
  display: flex;
}

.header-button {
  margin-left: 10px;
}
.sign-in-button {
  border: 1px solid orange;
}
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: normal;
}
.session-submit {
  color: white;
  background: orange;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}
.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.register-button {
  border-bottom: none;
}

.errors {
  color: red;
}
.switchTab button{
  background-color: #A9A9A9;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 20px;
  border: none;
}
.search-bar {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.login-signup button:hover {
  cursor: pointer;
}
.login-signup {
  display:flex;
  align-items: center;
}
.login-signup button {
  margin-right: 10px;
}
.header-button {
  margin-right: 10px;

}
.cart-icon {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $grey;
  padding-left: 10px;
  align-items: center;
}
.home-icon {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}
.user-icon {
  display: flex;
  flex-direction: column;
  border-right: 1px solid $grey;
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
}
.user-icon-link {
  text-decoration: none;
  color: grey;
}
.search-bar input {
  height: 3.5vh;
  width: 25vw;
}
.search-button {
  height: 4vh;
  width: 9vw;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 100%;
}
.switchTab {
  background-color: #A9A9A9;
}
.switchTab span {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 7px;
  background-color: white;
}
