@import "../base/globals";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: orange;
}

.login-signup a{
  text-decoration: none;
  border: 1px solid orange;
  border-radius: 5px;
  color: orange;
  padding: 5px;
}
