@import "../base/globals";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  padding: 5px;
}

.header-link {
  text-decoration: none;
  color: orange;
}

.login-signup a{
  text-decoration: none;
  border: 1px solid orange;
  border-radius: 5px;
  color: orange;
  padding: 5px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: normal;
}
.session-submit {
  color: white;
  background: orange;
  border-radius: 5px;
}
.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px;
  border-radius: 20px;
}
