
.sell-item img {
width: 50%;
height: 100%;
}
.sell-item li {
  display: flex;
  flex-direction: column;
}

.products-for-sell{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.products-and-carts {
  display: flex;
  justify-content: space-around;
}
.products-and-carts > div {
  padding:10px;
}
.user-sell-products {
  width: 48vw;
  display: flex;
  flex-direction: column;
}
.user-sell-products h3 {
  font-size: 5vh;
}
.cart h3 {
  font-size: 5vh;
}
.cart {
  width: 60vw;
}

.user-detail {
  padding: 1vw;
  width: 94%;
}
.user-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.each-item-in-user-show {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  width: 43vw;
  height: 10vh;
  min-width: 150px;
  min-height: 225px;
  margin: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sell-item {
  text-decoration: none;
  color: black;
  width: 40%;
  // border: 1px solid blue;
  display: inline-block;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart-items {
  display: flex;
  flex-direction: column;
}
.price-info h3{
  font-size: 2vh;
}
.price-info strong{
  font-size: 1.5vh;
  color: grey;
  padding-top: 1vh;
}
.cart-item-img-title img{
  // height: 50
  object-fit: cover;
}
.cart-item-img-title {
  display: flex;
  // border: 1px solid red;
  // height: 99%;
  // background-color: black;
}
.cart-items > div {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  width: 50vw;
  height: 25vh;
  margin: 13px;
  display: flex;
  justify-content: space-around;
}
.price-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
