
.sell-item img {
width: 100%;
height: 100%;
}
.sell-item li {
  display: flex;
  flex-direction: column;
}

.user-sell-products ul {
  display: flex;
  flex-wrap: wrap;
}
.products-and-carts {
  display: flex;
  justify-content: space-around;
}
.products-and-carts > div {
  padding:10px;
}
.user-sell-products {
  border: 1px solid grey;
  width: 48vw;
  display: flex;
  flex-direction: column;
}
.user-sell-products h3 {
  font-size: 5vh;
}
.cart h3 {
  font-size: 5vh;
}
.cart {
  border: 1px solid grey;
  width: 40vw;
}

.user-detail {
  padding: 3vw;
}
.products-for-sell div {
  width: 12vw;
  height: 10vh;
  min-width: 150px;
  min-height: 200px;
  margin: 13px;
}
.cart-items {
  display: flex;
  flex-wrap: wrap;
}
.cart-items div {
  width: 12vw;
  height: 10vh;
  min-width: 150px;
  min-height: 200px;
  margin: 13px;
}
